<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml">

	<ui:define name="content">
		
		<div id="head" class="container col-md-12">
			<div id="Titel" class="jumbotron"> 
				<h1 style="font-weight: bold;">#{msg['default.RezepteSammlung']}</h1>	
			</div>
		</div>
		
		<div id="body" class="container col-md-12">
			Sprache:  <h:outputLabel value="#{language.locale}" />
		</div>
		
	</ui:define>
</ui:composition>

