<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml">
	<ui:define name="content">
		<f:view locale="#{language.locale}">
		
			<div class="container" >
				<div class="row">
					<div class=" box col-lg-12" >
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg[codeTableTreeEditController.getTitle()]}" />
						</h2>
						<hr />
						
						<div class="col-lg-12 text-center">
							<h:outputLabel id="lblParentBez" value="#{msg['codeTabelleTree.ParentBez']}" for="lblParentVal" styleClass="info-Label"/>
							<h:outputLabel id="lblParentVal" value="#{codeTableTreeEditController.codeElement.bezeichnung}" styleClass="info-Text"/>
						</div>

						<div class="col-lg-12 text-center">
							<h:form>
								<h:outputLabel value="#{msg['codeTabelleTree.CodeAuswahl']}"/><br/>
								<h:selectOneListbox id="inpCodeElemente" value="#{codeTableTreeEditController.newCodeElement}">
									<f:selectItems value="#{codeTabelleChilds}" var="codeTree" itemLabel="#{codeTree.bezeichnung}" itemValue="#{codeTree.codeTabelleNr}" />
								</h:selectOneListbox>
								<p/>
								<h:commandLink class="btn btn-default btn-lg" action="#{codeTableTreeEditController.doSave}" >
									<span class="glyphicon glyphicon-ok-sign" aria-hidden="false" />
								</h:commandLink>
								
								<h:commandLink class="btn btn-default btn-lg" action="#{codeTableTreeEditController.doCancel}" >
									<span class="glyphicon glyphicon-remove-sign" aria-hidden="false" />
								</h:commandLink>
								
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</f:view>
	</ui:define>
</ui:composition>
