<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<f:view locale="#{language.locale}">

			<div class="container">
				<div class="row">
					<div class=" box col-lg-12">
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg[codeTableEditController.getTitle()]}" />
						</h2>
						<hr />

						<div class="col-lg-12 text-center">
							<h:form id="Element">
								<h:panelGrid id="gridCodeTabErfassen" columns="2">
									<h:outputLabel id="lblBezeichnung"
										value="#{msg['codeTabelle.Bezeichnung']}" for="inpBezeichnung" />
									<h:inputText
										value="#{codeTableEditController.codeTabelle.bezeichnung}"
										id="inpBezeichnung" />
									<h:outputLabel id="lblKurzBezeichnung"
										value="#{msg['codeTabelle.KurzBezeichnung']}"
										for="inpKurzBezeichnung" />
									<h:inputText
										value="#{codeTableEditController.codeTabelle.kurzBezeichnung}"
										id="inpKurzBezeichnung" />

									<h:outputLabel id="lblAktivFlag"
										value="#{msg['default.Aktiv']}" for="inpAktivFlag" />
									<h:selectOneRadio
										value="#{codeTableEditController.codeTabelle.aktiv_f}"
										id="inpAktivFlag" styleClass="inlineRadioButtons">
										<f:selectItems value="#{codeTableEditController.jaNeinFlag}"
											var="flag" itemLabel="#{msg[flag.bezeichnung]}"
											styleClass="inlineRadioButtons" itemValue="#{flag.value}" />
									</h:selectOneRadio>

									<h:outputLabel id="lblIsParent" value="#{msg['codeTabelle.isParent']}" for="inpIsParent" />
									<h:selectOneRadio value="#{codeTableEditController.codeTabelle.isParent}" id="inpIsParent" styleClass="inlineRadioButtons">
										<f:selectItems value="#{codeTableEditController.jaNeinFlag}" var="flag" itemLabel="#{msg[flag.bezeichnung]}" styleClass="inlineRadioButtons" itemValue="#{flag.value}" />
									</h:selectOneRadio>
								</h:panelGrid>
								
								<h:commandLink class="btn btn-default btn-lg" action="#{codeTableEditController.doSave}"> 
									<span class="glyphicon glyphicon-ok-sign" aria-hidden="false" />
								</h:commandLink>

								<h:commandLink class="btn btn-default btn-lg" action="#{codeTableEditController.doCancel}">
									<span class="glyphicon glyphicon-remove-sign" aria-hidden="false" />
								</h:commandLink>

							</h:form>
						</div>
					</div>
				</div>
				
				<c:if test="#{codeTableEditController.codeTabelle.isParent == 1}">
					<div class="row">
						<div class=" box col-lg-12 text-center" >
							<h:form id="Childs">
								<hr />
								<h2 class="text-center">
									<h:outputLabel id="lblParentCode" value="#{msg['codeTabelle.ChildCodes']}" for="tblChildCodes" />
								</h2>
								<hr />
								<h:commandLink class="btn btn-default btn-lg" action="#{codeTableEditController.doNewChild}">
									<span class="glyphicon glyphicon-plus-sign" aria-hidden="false" />
								</h:commandLink>

								<h:dataTable value="#{codeTableEditController.codeTabelle.childCodes}" var="codetabTree" 
									styleClass="table" headerClass="thead-inverse" rowClasses="thead-default" id="tblChildCodes">
									<h:column>
										<f:facet name="header">#{msg['codeTabelle.CodeId']}</f:facet>
							   			#{codetabTree.codeTabelleNr }
							   		</h:column>
									<h:column>
										<f:facet name="header">#{msg['codeTabelle.Bezeichnung']}</f:facet>
							   			#{codetabTree.bezeichnung}
							   		</h:column>

									<h:column>
										<f:facet name="header">#{msg['codeTabelle.KurzBezeichnung']}</f:facet>
							   			#{codetabTree.kurzBezeichnung}
							   		</h:column>

									<h:column>
										<f:facet name="header">#{msg['default.Aktion']}</f:facet>
										<h:commandLink class="btn btn-default btn-sm" action="#{codeTableEditController.doEditChild(codetabTree)}">
											<span class="glyphicon glyphicon-pencil" aria-hidden="false"/>	
										</h:commandLink>
										<h:commandLink class="btn btn-default btn-sm" action="#{codeTableEditController.doDeleteChild(codetabTree)}">
											<span class="glyphicon glyphicon-erase" aria-hidden="false" />
										</h:commandLink>
									</h:column>
								</h:dataTable>
							</h:form>
						</div>
					</div>
				</c:if>
			</div>
		</f:view>
	</ui:define>
</ui:composition>
