<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml">

	<ui:define name="content">
		<f:view locale="#{language.locale}">
	
			<div class="container" >
				<div class="row">
					<div class=" box col-lg-12" >
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg['codeTabelle.Uebersicht']}" />
						</h2>
						<hr />
						<div class="col-lg-12 text-center">
							<h:form>
								<h:commandLink class="btn btn-default btn-lg" id="CodeTabelleEdit" action="#{codeTableListController.doAdd}">
									<span class="glyphicon glyphicon-plus" aria-hidden="false" />
								</h:commandLink>
								<p/>				
		
								<h:dataTable value="#{codeTabelle}" var="codetab" styleClass="table" headerClass="thead-inverse" rowClasses="thead-default">
							
									<h:column>
										<f:facet name="header">#{msg['codeTabelle.CodeId']}</f:facet>
							   			#{codetab.codeTabelleNr }
							   		</h:column>
							
									<h:column>
										<f:facet name="header">#{msg['codeTabelle.Bezeichnung']}</f:facet>
							   			#{codetab.bezeichnung}
							   		</h:column>
							
									<h:column>
										<f:facet name="header">#{msg['codeTabelle.KurzBezeichnung']}</f:facet>
							   			#{codetab.kurzBezeichnung}
							   		</h:column>
									
									<h:column>
										<f:facet name="header">#{msg['default.Aktiv']}</f:facet>
							   			#{msg[codeTableListController.getJaNeinFlag(codetab.aktiv_f)]}
							   		</h:column>
							   		
							   		<h:column>
										<f:facet name="header">#{msg['codeTabelle.isParent']}</f:facet>
							   			#{msg[codeTableListController.getJaNeinFlag(codetab.isParent )]}
							   		</h:column>
									
									<h:column>
										<f:facet name="header">#{msg['default.Aktion']}</f:facet>
							   			<h:commandLink class="btn btn-default btn-sm" action="#{codeTableListController.doEdit(codetab)}">
											<span class="glyphicon glyphicon-pencil" aria-hidden="false" />  
										</h:commandLink>
										<h:commandLink class="btn btn-default btn-sm" action="#{codeTableListController.doDelete(codetab)}" >
											<span class="glyphicon glyphicon-erase" aria-hidden="false" />
										</h:commandLink>
							   		
							   		</h:column>
								</h:dataTable>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</f:view>
	</ui:define>
</ui:composition>