<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml">
	
	<ui:define name="content">
		<f:view locale="#{language.locale}">

			<div class="container">
				<div class="row">
					<div class=" box col-lg-12">
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg[produktEditController.getTitle()]}" />
						</h2>
						<hr />

						<div class="col-lg-12 text-center">
							<h:form>
								<h:panelGrid id="gridCodeTabErfassen" columns="2">
									<h:outputLabel id="lblBezeichnung" value="#{msg['default.Bezeichnung']}" for="inpBezeichnung" />
									<h:inputText value="#{produktEditController.produkt.name}" id="inpBezeichnung" />
									
									<h:outputLabel id="lblBeschreibung" value="#{msg['default.Beschreibung']}" for="inpBeschreibung" />
									<h:inputText value="#{produktEditController.produkt.beschreibung}" id="inpBeschreibung" />

									<h:outputLabel id="lblGewicht" value="#{msg['produkt.Gewicht']}" for="inpGewicht" />
									<h:inputText value="#{produktEditController.produkt.gewicht}" id="inpGewicht" />
									
									<h:outputLabel id="lblEinheit" value="#{msg['produkt.Einheit']}" for="inpEinheit" />
									<h:selectOneMenu value="#{produktEditController.produkt.einheit}" id="inpEinheit">
										<f:selectItems value="#{codeGruppenListEinheit}" var="element" itemLabel="#{element.bezeichnung}" itemValue="#{element.codeTabelleNr}" />										
									</h:selectOneMenu>

									<h:outputLabel id="lblTcmElement" value="#{msg['produkt.TcmElement']}" for="inpTcmElement" />
									<h:selectOneMenu value="#{produktEditController.produkt.tcmElement}" id="inpTcmElement">
										<f:selectItems value="#{codeGruppenListTcm}" var="element" itemLabel="#{element.bezeichnung}" itemValue="#{element.codeTabelleNr}" />										
									</h:selectOneMenu>
									
									<h:outputLabel id="lblKategorie" value="#{msg['produkt.Kategorie']}" for="inpKategorie" />
									<h:selectOneMenu value="#{produktEditController.produkt.kategorie}" id="inpKategorie">
										<f:selectItems value="#{codeGruppenListProdKat}" var="element" itemLabel="#{element.bezeichnung}" itemValue="#{element.codeTabelleNr}" />										
									</h:selectOneMenu>
									
									<h:outputLabel id="lblAktivFlag" value="#{msg['default.Aktiv']}" for="inpAktivFlag" />
									<h:selectOneRadio value="#{produktEditController.produkt.aktiv_f}" id="inpAktivFlag" styleClass="inlineRadioButtons">
										<f:selectItems value="#{codeTableEditController.jaNeinFlag}" var="flag" itemLabel="#{msg[flag.bezeichnung]}" styleClass="inlineRadioButtons" itemValue="#{flag.value}" />
									</h:selectOneRadio>

								</h:panelGrid>
								<p />

								<h:commandLink class="btn btn-default btn-lg" action="#{produktEditController.doSave}">
									<span class="glyphicon glyphicon-ok-sign" aria-hidden="false" />
								</h:commandLink>

								<h:commandLink class="btn btn-default btn-lg" action="#{produktEditController.doCancel}">
									<span class="glyphicon glyphicon-remove-sign" aria-hidden="false" />
								</h:commandLink>

							</h:form>
						</div>
					</div>
				</div>
			</div>
		</f:view>
	</ui:define>
</ui:composition>
