<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml">
	
	<ui:define name="content">
		<f:view locale="#{language.locale}">
			<div class="container" >
				<div class="row">
					<div class=" box col-lg-12" >
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg['produkt.Uebersicht']}" />
						</h2>
						<hr />
					
			
						<div class="col-lg-12 text-center">
							<h:form>
								<h:commandLink class="btn btn-default btn-lg" id="ProduktTabelleEdit" action="#{produktListController.doAdd}">
									<span class="glyphicon glyphicon-plus-sign" aria-hidden="false" />
								</h:commandLink>
								<p/>				
		
								<h:dataTable value="#{produktList}" var="element" styleClass="table" headerClass="thead-inverse" rowClasses="thead-default">
							
									<h:column>
										<f:facet name="header">#{msg['produkt.Id']}</f:facet>
							   			#{element.produktNr }
							   		</h:column>
							
									<h:column>
										<f:facet name="header">#{msg['default.Bezeichnung']}</f:facet>
							   			#{element.name}
							   		</h:column>
							
									<h:column>
										<f:facet name="header">#{msg['default.Beschreibung']}</f:facet>
							   			#{element.beschreibung}
							   		</h:column>
									
									<h:column>
										<f:facet name="header">#{msg['produkt.Gewicht']}</f:facet>
							   			#{element.gewicht}
							   		</h:column>
							   		
							   		<h:column>
										<f:facet name="header">#{msg['produkt.Einheit']}</f:facet>
							   			#{produktListController.getCodeTabelleBez(element.einheit)}
    						   		</h:column>

							   		<h:column>
										<f:facet name="header">#{msg['produkt.TcmElement']}</f:facet>
							   			#{produktListController.getCodeTabelleBez(element.tcmElement)}    
							   		</h:column>
	
		   							<h:column>
										<f:facet name="header">#{msg['produkt.Kategorie']}</f:facet>
							   			#{produktListController.getCodeTabelleBez(element.kategorie)}
							   		</h:column>

									<h:column>
										<f:facet name="header">#{msg['default.Aktiv']}</f:facet>
							   			#{msg[produktListController.getJaNeinFlag(element.aktiv_f)]}
							   		</h:column>

									<h:column>
										<f:facet name="header">#{msg['default.Aktion']}</f:facet>
							   			<h:commandLink class="btn btn-default btn-sm" action="#{produktListController.doEdit(element)}">
											<span class="glyphicon glyphicon-pencil" aria-hidden="false" />
										</h:commandLink>
										<h:commandLink class="btn btn-default btn-sm" action="#{produktListController.doDelete(element)}" >
											<span class="glyphicon glyphicon-erase" aria-hidden="false" />
										</h:commandLink>
							   		
							   		</h:column>
								</h:dataTable>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</f:view>
	</ui:define>
</ui:composition>