<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml">
	
	<ui:define name="content">
		<f:view locale="#{language.locale}">

			<div class="container" >
				<div class="row">
					<div class=" box col-lg-12" >
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg[rezeptEditController.getTitle()]}" />
						</h2>
						<hr />

						<div class="col-lg-12 text-center">
							<h:form styleClass="text-center">
								<h:panelGrid id="gridRezeptErfassen" columns="2">
									<h:outputLabel id="lblRezName" value="#{msg['rezept.Name']}" for="inpRezName" />
									<h:inputText value="#{rezeptEditController.rezept.name}" id="inpRezName" />
									<h:outputLabel id="lblRezBeschreibung" value="#{msg['rezept.Beschreibung']}" for="inpRezBeschreibung" />
									<h:inputTextarea value="#{rezeptEditController.rezept.beschreibung}" id="inpRezBeschreibung" cols="100" rows="5"  />
									<h:outputLabel id="lblRezKalorien" value="#{msg['rezept.Kalorien']}" for="inpRezKalorien" />
									<h:inputText value="#{rezeptEditController.rezept.kalorien}" id="inpRezKalorien" />
									
									<h:outputLabel id="lblRezKategorie" value="#{msg['rezept.Kategorie']}" for="inpRezKAtegorie" />
									<h:selectOneMenu value="#{rezeptEditController.rezept.kategorieNr}" id="inpRezKAtegorie">
										<f:selectItems value="#{codeGruppenListMenueKat}" var="element" itemLabel="#{element.bezeichnung}" itemValue="#{element.codeTabelleNr}" />
									</h:selectOneMenu>

									<h:outputLabel id="lblRezAktivFlag" value="#{msg['default.Aktiv']}" for="inpRezAktivFlag" /> 
									<h:selectOneRadio value="#{rezeptEditController.rezept.aktiv_f}" id="inpRezAktivFlag" styleClass="inlineRadioButtons" >
							   			<f:selectItems value="#{rezeptEditController.jaNeinFlag}" var="flag" 
							   					itemLabel="#{msg[flag.bezeichnung]}" styleClass="inlineRadioButtons" itemValue="#{flag.value}" />
							   		</h:selectOneRadio>
								</h:panelGrid>
								<p/>
								<h:commandLink class="btn btn-default btn-lg" action="#{rezeptEditController.doSave}" >
									<span class="glyphicon glyphicon-ok-sign" aria-hidden="false" />
								</h:commandLink>
								<h:commandLink class="btn btn-default btn-lg" action="#{rezeptEditController.doCancel}" >
									<span class="glyphicon glyphicon-remove-sign" aria-hidden="false" />
								</h:commandLink>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</f:view>
	</ui:define>
</ui:composition>


