<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml">
	
	<ui:define name="content">
		<f:view locale="#{language.locale}">
		
			<div class="container" >
				<div class="row">
					<div class=" box col-lg-12" >
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg['rezept.UebersichtErfasste']}" />
						</h2>
						<hr />
					
						<div class="col-lg-12 text-center">
							<h:form>
								<h:commandLink class="btn btn-default btn-lg" action="#{rezeptListController.doAddRezept}" >
									<span class="glyphicon glyphicon-plus-sign" aria-hidden="false" />
								</h:commandLink>
								<p/>
								<h:dataTable value="#{rezepte}" var="o" styleClass="table" headerClass="thead-inverse" rowClasses="thead-default">
									<h:column>
										<f:facet name="header">#{msg['default.Bezeichnung']}</f:facet>
											#{o.name}
							   		</h:column>
									<h:column>
										<f:facet name="header">#{msg['default.Beschreibung']}</f:facet>
						   				#{o.beschreibung}
							   		</h:column>
									<h:column>
										<f:facet name="header">#{msg['rezept.Kalorien']}</f:facet>
							   			#{o.kalorienBez}
							   		</h:column>
									<h:column>
										<f:facet name="header">#{msg['rezept.Kategorie']}</f:facet>
							   			#{o.kategorieBez}
							   		</h:column>
									<h:column>
										<f:facet name="header">#{msg['default.Aktiv']}</f:facet>
							   			#{msg[rezeptListController.getJaNeinFlag(o.aktiv_f)]}
							   		</h:column>
									<h:column>
										<h:commandLink class="btn btn-default btn-sm" action="#{rezeptListController.doShowDetailsWithEdit(o, 'REZEPT_LIST')}">
											<span class="glyphicon glyphicon-edit" aria-hidden="false" />
										</h:commandLink>
										<f:facet name="header">#{msg['default.Aktion']}</f:facet>
										<h:commandLink class="btn btn-default btn-sm" action="#{rezeptListController.doEditRezept(o)}">
											<span class="glyphicon glyphicon-pencil" aria-hidden="false" />
										</h:commandLink>
										<h:commandLink class="btn btn-default btn-sm" action="#{rezeptListController.doDeleteRezept(o)}" >
											<span class="glyphicon glyphicon-erase" aria-hidden="false" />
										</h:commandLink>
							   		</h:column>
								</h:dataTable>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</f:view>		
	</ui:define>
	
</ui:composition>
