<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml">
	
	<ui:define name="content">
		<f:view locale="#{language.locale}">
	    	<div class="container" >
				<div class="row">
					<div class=" box col-lg-12" >
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg['rezeptDetail.SchrittHinzu']}" />
						</h2>
						<hr />
						<div class="col-lg-12 text-center">
							<h:outputLabel value="#{msg['default.Bezeichnung']}" id="lblName" styleClass="info-Label"/>
							<h:outputLabel value="#{rezeptDetail.name}" styleClass="info-Text"/>
						</div>
					</div>
				</div>
				
				<div class="container" >
					<div class="row">
						<div class=" box col-lg-12" >
							<div class="col-lg-12 text-center">
								<h:form>
									<h:panelGrid id="gridRezeptErfassen" columns="2">
										<h:outputLabel value="#{msg['rezeptDetail.Schritt']}" for="txtbeschreibung" />
										<h:inputTextarea value="#{rezeptDetailEditController.zubereitungsSchritt.beschreibung}" id="txtbeschreibung" cols="120" rows="15"/>

										<h:outputLabel id="lblMEnge" value="#{msg['rezeptDetail.Reihenfolge']}" for="inpReihenfolge"/>
										<h:inputText value="#{rezeptDetailEditController.zubereitungsSchritt.reihenfolgeNr}" id="inpReihenfolge"/>

									</h:panelGrid>

									<p/>
									<h:commandLink class="btn btn-default btn-md" action="#{rezeptDetailEditController.doSaveSchritt}" >
										<span class="glyphicon glyphicon-ok-sign" aria-hidden="false" />
									</h:commandLink>
									
									<h:commandLink class="btn btn-default btn-md" action="#{rezeptDetailEditController.doCancel}" >
										<span class="glyphicon glyphicon-remove-sign" aria-hidden="false" />
									</h:commandLink>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</f:view>
	</ui:define>
</ui:composition>


