<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/templates/default.xhtml">

	<ui:define name="content">
		<f:view locale="#{language.locale}">

			<div class="container">
				<div class="row">
					<div class=" box col-lg-12">
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg['rezeptDetail.Titel']}" />
						</h2>
						<hr />
						<div class="col-lg-12 text-center">
							<h:outputLabel value="#{msg['default.Bezeichnung']}" id="lblName"
								styleClass="info-Label" />
							<h:outputLabel value="#{rezeptDetail.name}"
								styleClass="info-Text" />
							<br />
							<h:outputLabel value="#{msg['default.Beschreibung']}"
								id="lblBeschreibung" styleClass="info-Label" />
							<h:outputLabel value="#{rezeptDetail.beschreibung}"
								styleClass="info-Text" />
							<br />
							<h:outputLabel value="#{msg['rezept.Kategorie']}" id="lblKategorie" styleClass="info-Label" />
							<h:outputLabel value="#{rezeptDetail.kategorieBez}" styleClass="info-Text" />
							<br />
							<h:outputLabel value="#{msg['rezept.Kalorien']}" id="lblKalorien" styleClass="info-Label" />
							<h:outputLabel value="#{rezeptDetail.kalorienBez}" styleClass="info-Text" />
						</div>
					</div>
				</div>

				<div class="row">

					<div class="box col-lg-12" id="detailsContainer">
						<div class="col-lg-4 text-center">
							<hr />
							<h2>
								<h:outputLabel value="#{msg['rezeptDetail.Zutaten']}" />
							</h2>
							<hr />
							<h:form id="Zutaten">
								<c:if test="#{rezeptDetailEditController.edit == true}">
									<h:commandLink class="btn btn-default btn-lg" action="#{rezeptDetailEditController.doAddRezeptZutat(rezeptDetail)}">
										<span class="glyphicon glyphicon-plus-sign" aria-hidden="false" />
									</h:commandLink>
								</c:if>
								<p />

								<h:dataTable value="#{rezeptZutaten}" var="zutat"
									styleClass="table" headerClass="thead-inverse"
									rowClasses="thead-default">
									<h:column>
										<f:facet name="header">#{msg['rezeptDetail.Menge']}</f:facet>
											#{zutat.menge} #{zutat.einheitBez}
							   		</h:column>
									<h:column>
										<f:facet name="header">#{msg['default.Bezeichnung']}</f:facet>
							   			#{zutat.produktBez}
							   		</h:column>
									<h:column>
										<f:facet name="header">#{msg['default.Aktion']}</f:facet>

										<c:if test="#{rezeptDetailEditController.edit == true}">
											<h:commandLink class="btn btn-default btn-sm" action="#{rezeptDetailEditController.doDeletZutat(zutat)}">
												<span class="glyphicon glyphicon-erase" aria-hidden="false" />
											</h:commandLink>
										</c:if>

									</h:column>
								</h:dataTable>
							</h:form>
						</div>

						<div class="col-lg-8 text-center">
							<hr />
							<h2>
								<h:outputLabel value="#{msg['rezeptDetail.ZubereitungsSchritte']}" />
							</h2>
							<hr />

							<h:form id="Schritt">
								<c:if test="#{rezeptDetailEditController.edit == true}">
									<h:commandLink class="btn btn-default btn-lg" action="#{rezeptDetailEditController.doAddRezeptSchritt(rezeptDetail)}">
										<span class="glyphicon glyphicon-plus-sign" aria-hidden="false" />
									</h:commandLink>
								</c:if>
								<p />

								<ui:repeat value="#{rezeptZubereitungsSchritte}" var="schritte"
									varStatus="status">

									<div class="panel panel-default">
										<div class="panel-heading text-left">
											#{msg['rezeptDetails.Schritt']} #{schritte.reihenfolgeNr}
											<c:if test="#{rezeptDetailEditController.edit == true}">
												<span class="pull-right">
													<h:commandLink class="btn btn-default btn-sm " action="#{rezeptDetailEditController.doDelete}">
														<span class="glyphicon glyphicon-erase" aria-hidden="false" />
													</h:commandLink>
												</span>
											</c:if>
										</div>
										<div class="panel-body text-left">
											#{schritte.beschreibung}
										</div>
									</div>
									
								</ui:repeat>

							</h:form>
						</div>
					</div>
				</div>

				<div class="row">
					<div class=" box col-lg-12 text-center">
						<h:form id="abbruch">
							<h:commandLink class="btn btn-default btn-md" action="#{rezeptDetailEditController.doCancelDetails}">
								<span class="glyphicon glyphicon-remove-sign" aria-hidden="false" />
							</h:commandLink>
						</h:form>
					</div>
				</div>

			</div>
		</f:view>
	</ui:define>
</ui:composition>


