<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/default.xhtml">
	
	<ui:define name="content">
		<f:view locale="#{language.locale}">

			<div class="container" >
				<div class="row">
					<div class=" box col-lg-12" >
						<hr />
						<h2 class="text-center">
							<h:outputLabel value="#{msg['default.EinfacheSuche']}" />
						</h2>
						<hr />
						<div class="col-lg-12 text-center">
						
							<h:form>
								<h:outputLabel id="lblSuche" value="#{msg['suche.SucheText']}" for="inpSuche" />
								<h:inputText value="#{sucheEinfachListController.suchText}" id="inpSuche"/>
								<p/>
								<h:commandLink class="btn btn-default btn-lg" action="#{sucheEinfachListController.doSearch}" >
									<span class="glyphicon glyphicon-search" aria-hidden="false" />
								</h:commandLink>
							</h:form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class=" box col-lg-12" >
						<div class="col-lg-12 text-center">
							
							<h:form>
								<h:dataTable value="#{rezepte}" var="o" styleClass="table" headerClass="thead-inverse" rowClasses="thead-default">
							
									<h:column>
										<f:facet name="header">#{msg['default.Bezeichnung']}</f:facet>
											#{o.name}
							   		</h:column>
							
									<h:column>
										<f:facet name="header">#{msg['default.Beschreibung']}</f:facet>
							   			#{o.beschreibung}
							   		</h:column>
							
									<h:column>
										<f:facet name="header">#{msg['rezept.Kalorien']}</f:facet>
							   			#{o.kalorienBez}
							   		</h:column>
									
									<h:column>
										<f:facet name="header">#{msg['rezept.Kategorie']}</f:facet>
							   			#{o.kategorieBez}
							   		</h:column>							
									
									<h:column>
										<f:facet name="header">#{msg['default.Aktion']}</f:facet>
										<h:commandLink class="btn btn-default btn-sm" action="#{rezeptListController.doShowDetailsNoEdit(o, 'SUCHE_EINFACH')}" >
											<span class="glyphicon glyphicon-info-sign" aria-hidden="false" />
										</h:commandLink>
										
							   		</h:column>
								</h:dataTable>
							</h:form>
							
						</div>
					</div>
				</div>
			</div>
		</f:view>		
	</ui:define>
	
</ui:composition>
