<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/bootstrap/css/bootstrap.min.css" />
	
	
	<!-- Custom CSS -->
    <h:outputStylesheet name="/css/business-casual.css" />
    
	<title>#{msg['default.Rezepte']}</title>
</h:head>

<h:body>
	<f:view locale="#{language.locale}">
		
		<div class="brand">Rezepte Datenbank</div>
		
		<h:form id="NavForm">
		
			<nav class="navbar navbar-inverse" role="navigation">
        		<div class="container-fluid">
            		<!-- Brand and toggle get grouped for better mobile display -->
            		<div class="navbar-header">
    					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
      					</button> 
      					<a class="navbar-brand" href="#">MyWebsite</a>
    				</div>
    				
            		<!-- Collect the nav links, forms, and other content for toggling -->
            		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                	<ul class="nav navbar-nav">
	                    	<li class="active">
	                    		<h:commandLink action="#{rezeptListController.doHome}" >
									<h:outputText value="#{msg['default.Home']}" />
								</h:commandLink>
	                    	</li>
	        				<li>
	        					<a href="#" class="dropdown-toggle" data-toggle="dropdown">#{msg['default.UebersichtRezept']}<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<h:commandLink action="#{rezeptListController.doList}">
											<h:outputText value="#{msg['rezept.UebersichtErfasste']}" />
										</h:commandLink>
									</li>
									<li>
										<h:commandLink action="#{sucheEinfachListController.doList}">
											<h:outputText value="#{msg['default.EinfacheSuche']}" />
										</h:commandLink>
									</li>
									<li>
										<h:commandLink action="#{sucheProduktListController.doList}">
											<h:outputText value="#{msg['default.produktSuche']}" />
										</h:commandLink>
									</li>
								</ul>								

								
	        				</li>
	        				<li>
	        					<a href="#" class="dropdown-toggle" data-toggle="dropdown">#{msg['default.Administration']}<b class="caret"></b></a>
	          					<ul class="dropdown-menu">
									<li>
										<h:commandLink action="#{codeTableListController.doList }">
											<h:outputText value="#{msg['default.CodeTabelle']}" />
										</h:commandLink>
									</li>
									<li>
										<h:commandLink action="#{produktListController.doList }">
											<h:outputText value="#{msg['default.ProduktTabelle']}" />
										</h:commandLink>
									</li>
								</ul>        
	        				</li>
	        				<li>
	        					<a>
		          					<h:outputText value="#{msg['default.Sprache']}" />
									<h:selectOneMenu value="#{language.locale}" onchange="submit()" valueChangeListener="#{language.localeChanged}">:  
				         				<f:selectItems value="#{language.countries}" /> 
					      			</h:selectOneMenu>
				      			</a> 
	        				</li>
	      				</ul>
    				</div>
  				</div>
			</nav>
		</h:form>
		
		<div id="content" class="container col-md-12">
			<ui:insert name="content">
                    [Template content will be inserted here]
            </ui:insert>
		</div>
		
		<div id="footer" class="container col-md-12">
			<br/>
			<p style="font-size: 10px;" > (C) 2015 Renato Gerber</p>
		</div>
		
	</f:view>
	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
    <h:outputScript name="bootstrap/js/jquery-2.1.4.min.js" />
    <h:outputScript name="bootstrap/js/bootstrap.min.js" />
    

</h:body>
</html>
